nodered/app/flows/sonos/KNX_SONOS.json
[{"id":"5759f5b6.09277c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb18af30.601cf8","type":"inject","z":"5759f5b6.09277c","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Down","payload":"true","payloadType":"bool","x":120,"y":100,"wires":[["2a3baccd.36d80c"]]},{"id":"2a3baccd.36d80c","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"6/1/0","outputtopic":"","dpt":"1.008","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":370,"y":100,"wires":[[]]},{"id":"d52db2a7.e77cb","type":"inject","z":"5759f5b6.09277c","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Up","payload":"false","payloadType":"bool","x":120,"y":160,"wires":[["2a3baccd.36d80c"]]},{"id":"b9fe3205.0c221","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"6/0/2","outputtopic":"","dpt":"1.002","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":false,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":410,"y":440,"wires":[[]]},{"id":"83af84cb.ccc8f","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"6/1/1","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":120,"y":1060,"wires":[["89e9a1a7.83e248"]]},{"id":"8439f59b.9b4258","type":"sonos-universal","z":"5759f5b6.09277c","confignode":"85759d05.a880e","compatibilityMode":false,"command":"group.play","state":"","stateType":"str","name":"","x":490,"y":1000,"wires":[[]]},{"id":"89e9a1a7.83e248","type":"switch","z":"5759f5b6.09277c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1060,"wires":[["8439f59b.9b4258"],["c189ccd6.b58d5"]]},{"id":"c189ccd6.b58d5","type":"sonos-universal","z":"5759f5b6.09277c","confignode":"85759d05.a880e","compatibilityMode":false,"command":"group.pause","state":"","stateType":"str","name":"","x":490,"y":1060,"wires":[[]]},{"id":"c6a19448.edf208","type":"switch","z":"5759f5b6.09277c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":760,"wires":[["704c44b6.aa376c"],["d106bb4a.bd7e5"]]},{"id":"704c44b6.aa376c","type":"change","z":"5759f5b6.09277c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":740,"wires":[["725da29a.34b10c"]]},{"id":"d106bb4a.bd7e5","type":"change","z":"5759f5b6.09277c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":780,"wires":[["725da29a.34b10c"]]},{"id":"725da29a.34b10c","type":"sonos-universal","z":"5759f5b6.09277c","confignode":"85759d05.a880e","compatibilityMode":false,"command":"group.adjust.volume","state":"","stateType":"str","name":"","x":710,"y":760,"wires":[[]]},{"id":"dc724dc7.01567","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"6/1/2","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":140,"y":760,"wires":[["c6a19448.edf208"]]},{"id":"f1572a8b.07682","type":"inject","z":"5759f5b6.09277c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":400,"wires":[["b9fe3205.0c221"]]},{"id":"d6e59413.f6021","type":"inject","z":"5759f5b6.09277c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":460,"wires":[["b9fe3205.0c221"]]},{"id":"cf8d5c14.7aa788","type":"ui_button","z":"5759f5b6.09277c","name":"","group":"5a67eaf4.54554c","order":0,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":360,"wires":[["b9fe3205.0c221"]]},{"id":"79848e41.8e7b68","type":"ui_button","z":"5759f5b6.09277c","name":"","group":"5a67eaf4.54554c","order":0,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":150,"y":500,"wires":[["b9fe3205.0c221"]]},{"id":"b655fcad.9e1388","type":"comment","z":"5759f5b6.09277c","name":"Volet","info":"","x":70,"y":40,"wires":[]},{"id":"c14f6752.f2ace","type":"comment","z":"5759f5b6.09277c","name":"Commutation lampes","info":"","x":120,"y":300,"wires":[]},{"id":"6f78ee7b.9b0298","type":"comment","z":"5759f5b6.09277c","name":"Volume Sonos","info":"","x":90,"y":640,"wires":[]},{"id":"cfd713bf.1ec978","type":"comment","z":"5759f5b6.09277c","name":"Play/pause Sonos","info":"","x":110,"y":920,"wires":[]},{"id":"983c4ca5.fc09a","type":"ui_slider","z":"5759f5b6.09277c","name":"","label":"Lampe 1","tooltip":"","group":"5a67eaf4.54554c","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":320,"y":1280,"wires":[["599170b2.22ec6"]]},{"id":"599170b2.22ec6","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"6/0/3","outputtopic":"","dpt":"5.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":520,"y":1280,"wires":[[]]},{"id":"cb225140.5b22b","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"6/0/4","outputtopic":"","dpt":"5.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":false,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":110,"y":1280,"wires":[["983c4ca5.fc09a"]]},{"id":"8d1b0b2b.c35098","type":"ui_switch","z":"5759f5b6.09277c","name":"","label":"Play/pause","tooltip":"","group":"217a646.809c91c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":1000,"wires":[["89e9a1a7.83e248"]]},{"id":"31085885.c2a428","type":"ui_button","z":"5759f5b6.09277c","name":"","group":"217a646.809c91c","order":1,"width":0,"height":0,"passthru":false,"label":"Volume +","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":680,"wires":[["c6a19448.edf208"]]},{"id":"cbee735b.6ef4a8","type":"ui_button","z":"5759f5b6.09277c","name":"","group":"217a646.809c91c","order":1,"width":0,"height":0,"passthru":false,"label":"Volume -","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":140,"y":720,"wires":[["c6a19448.edf208"]]},{"id":"355c872.07fe678","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"15/0/6","outputtopic":"","dpt":"9.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"Température","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":150,"y":1480,"wires":[["1be32181.baffee"]]},{"id":"1be32181.baffee","type":"ui_chart","z":"5759f5b6.09277c","name":"","group":"47bb00be.f52e9","order":3,"width":0,"height":0,"label":"Température","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":1480,"wires":[[]]},{"id":"2e70a4f3.5fcd44","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"15/0/5","outputtopic":"","dpt":"9.008","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"CO2","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":120,"y":1560,"wires":[["97d53673.348128"]]},{"id":"97d53673.348128","type":"ui_chart","z":"5759f5b6.09277c","name":"","group":"47bb00be.f52e9","order":3,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":1560,"wires":[[]]},{"id":"9d3e0b63.acc518","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"15/0/7","outputtopic":"","dpt":"5.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"Humidité","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":140,"y":1640,"wires":[["872faf36.14a02"]]},{"id":"872faf36.14a02","type":"ui_chart","z":"5759f5b6.09277c","name":"","group":"47bb00be.f52e9","order":3,"width":0,"height":0,"label":"Humidité","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":340,"y":1640,"wires":[[]]},{"id":"a6b294a9.2017b","type":"comment","z":"5759f5b6.09277c","name":"Graphiques","info":"","x":90,"y":1420,"wires":[]},{"id":"ffe43fc0.095c48","type":"comment","z":"5759f5b6.09277c","name":"Slider lampe 1","info":"","x":90,"y":1220,"wires":[]},{"id":"776a9a4e.2b5574","type":"ui_slider","z":"5759f5b6.09277c","name":"","label":"Volume","tooltip":"","group":"217a646.809c91c","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":480,"y":840,"wires":[["725da29a.34b10c"]]},{"id":"b3b127e4.9a5f2","type":"knxUltimate","z":"5759f5b6.09277c","server":"583f9543.c39664","topic":"6/2/2","outputtopic":"","dpt":"1.002","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":false,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":950,"y":440,"wires":[[]]},{"id":"ab684d60.fcbee8","type":"inject","z":"5759f5b6.09277c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":690,"y":400,"wires":[["b3b127e4.9a5f2"]]},{"id":"ea51741e.30e298","type":"inject","z":"5759f5b6.09277c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":690,"y":460,"wires":[["b3b127e4.9a5f2"]]},{"id":"6c8170fe.55e918","type":"ui_button","z":"5759f5b6.09277c","name":"","group":"5a67eaf4.54554c","order":0,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":690,"y":360,"wires":[["b3b127e4.9a5f2"]]},{"id":"92c5c3c1.5f3a78","type":"ui_button","z":"5759f5b6.09277c","name":"","group":"5a67eaf4.54554c","order":0,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":690,"y":500,"wires":[["b3b127e4.9a5f2"]]},{"id":"583f9543.c39664","type":"knxUltimate-config","z":"","host":"10.0.0.229","port":"3671","physAddr":"15.15.22","suppressACKRequest":false,"csv":"","KNXEthInterface":"Auto","KNXEthInterfaceManuallyInput":"","statusDisplayLastUpdate":true,"statusDisplayDeviceNameWhenALL":true,"statusDisplayDataPoint":false,"stopETSImportIfNoDatapoint":"stop","loglevel":"error","name":"Multicast KNX Gateway","localEchoInTunneling":true,"delaybetweentelegrams":"40","delaybetweentelegramsfurtherdelayREAD":"1"},{"id":"85759d05.a880e","type":"sonos-config","z":"","name":"Sonos 6","serialnum":"B8-E9-37-B7-70-CA-8","ipaddress":"10.0.0.200"},{"id":"5a67eaf4.54554c","type":"ui_group","z":"","name":"KNX","tab":"4d7e9e9d.12aa38","order":1,"disp":true,"width":"6","collapse":false},{"id":"217a646.809c91c","type":"ui_group","z":"","name":"Sonos","tab":"4d7e9e9d.12aa38","order":2,"disp":true,"width":"6","collapse":false},{"id":"47bb00be.f52e9","type":"ui_group","z":"","name":"Graphiques sonde","tab":"4d7e9e9d.12aa38","order":3,"disp":true,"width":"6","collapse":false},{"id":"4d7e9e9d.12aa38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]