nodered/app/flows/sonos/SONOS et KNX.json
[{"id":"b4de0ff6.513df","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.play","state":"","stateType":"str","name":"","x":330,"y":960,"wires":[[]]},{"id":"4cb239fc.1fbdf8","type":"comment","z":"89332b31.cefa38","name":"ID des Sonos","info":"B8-E9-37-B4-56-42:D\tSonos 1\nB8-E9-37-B7-71-74:8\tSonos 2\nB8-E9-37-B7-70-AC:C\tSonos 3\nB8-E9-37-B7-71-66:B\tSonos 4\nB8-E9-37-B7-71-48:F\tSonos 5\nB8-E9-37-B7-70-CA:8\tSonos 6\n","x":150,"y":900,"wires":[]},{"id":"2af5216b.7f6ffe","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.pause","state":"","stateType":"str","name":"","x":330,"y":1000,"wires":[[]]},{"id":"b319b956.83ba88","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":960,"wires":[["b4de0ff6.513df"]]},{"id":"5356ce57.0b528","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1000,"wires":[["2af5216b.7f6ffe"]]},{"id":"da964640.9f2748","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/0","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":140,"y":1160,"wires":[["851ea22b.744d2"]]},{"id":"d73ad23.3aa7e3","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.play","state":"","stateType":"str","name":"","x":510,"y":1120,"wires":[[]]},{"id":"f0d1a496.750e18","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.pause","state":"","stateType":"str","name":"","x":510,"y":1200,"wires":[[]]},{"id":"851ea22b.744d2","type":"switch","z":"89332b31.cefa38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1160,"wires":[["d73ad23.3aa7e3"],["f0d1a496.750e18"]]},{"id":"b1c8289a.87e1b8","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/6","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":140,"y":1400,"wires":[["64304730.63ddd8"]]},{"id":"c0a9b854.730358","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.get.volume","state":"","stateType":"str","name":"","x":530,"y":1340,"wires":[["7e4937b4.e8fe78"]]},{"id":"5d2d56b8.f02538","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.set.volume","state":"","stateType":"str","name":"","x":1210,"y":1400,"wires":[[]]},{"id":"7e4937b4.e8fe78","type":"function","z":"89332b31.cefa38","name":"","func":"msg.payload =Number (msg.payload) + 5;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1340,"wires":[["9cdd6219.fe15c"]]},{"id":"64304730.63ddd8","type":"switch","z":"89332b31.cefa38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1400,"wires":[["c0a9b854.730358"],["5d4fec7a.ceecf4"]]},{"id":"5d4fec7a.ceecf4","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.get.volume","state":"","stateType":"str","name":"","x":530,"y":1460,"wires":[["b8465fac.d821b"]]},{"id":"b8465fac.d821b","type":"function","z":"89332b31.cefa38","name":"","func":"msg.payload =Number (msg.payload) - 5;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1460,"wires":[["4a5b3c07.4612b4"]]},{"id":"9cdd6219.fe15c","type":"range","z":"89332b31.cefa38","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":840,"y":1340,"wires":[["2d3a0dca.91c322","e93bf733.47b108"]]},{"id":"4a5b3c07.4612b4","type":"range","z":"89332b31.cefa38","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":840,"y":1460,"wires":[["8f79f7d8.2dcbc8","2d3a0dca.91c322"]]},{"id":"8f79f7d8.2dcbc8","type":"debug","z":"89332b31.cefa38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1460,"wires":[]},{"id":"db1cc7c.9235a38","type":"comment","z":"89332b31.cefa38","name":"SONOS play-pause via KNX","info":"","x":200,"y":1080,"wires":[]},{"id":"582da6bf.446e28","type":"comment","z":"89332b31.cefa38","name":"SONOS vol +/- (KNX et Dashboard)","info":"","x":220,"y":1280,"wires":[]},{"id":"2d3a0dca.91c322","type":"ui_slider","z":"89332b31.cefa38","name":"","label":"Volume","tooltip":"","group":"3989e15d.67796e","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":1000,"y":1400,"wires":[["5d2d56b8.f02538","34667cb5.60e484"]]},{"id":"61f7e5ca.75b28c","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":530,"y":1400,"wires":[["67fcdcf0.0948e4"]]},{"id":"67fcdcf0.0948e4","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.get.volume","state":"","stateType":"str","name":"","x":710,"y":1400,"wires":[["2d3a0dca.91c322"]]},{"id":"e93bf733.47b108","type":"debug","z":"89332b31.cefa38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1340,"wires":[]},{"id":"34667cb5.60e484","type":"debug","z":"89332b31.cefa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1360,"wires":[]},{"id":"9a25a5df.181038","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":1340,"wires":[["c0a9b854.730358"]]},{"id":"9502f0c7.3360b","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":1460,"wires":[["5d4fec7a.ceecf4"]]},{"id":"6e973fa3.de2e2","type":"sonos-config","z":"","name":"Sonos 5","serialnum":"B8-E9-37-B7-71-48:F","ipaddress":""},{"id":"d235d04c.f27bc","type":"knxUltimate-config","z":"","host":"224.0.23.12","port":"3671","physAddr":"15.15.22","suppressACKRequest":false,"csv":"","KNXEthInterface":"Auto","KNXEthInterfaceManuallyInput":"","statusDisplayLastUpdate":true,"statusDisplayDeviceNameWhenALL":true,"statusDisplayDataPoint":false,"stopETSImportIfNoDatapoint":"stop","loglevel":"error","name":"Multicast KNX Gateway","localEchoInTunneling":true,"delaybetweentelegrams":"40","delaybetweentelegramsfurtherdelayREAD":"1"},{"id":"3989e15d.67796e","type":"ui_group","z":"","name":"Sonos","tab":"b0420a35.dc3088","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0420a35.dc3088","type":"ui_tab","z":"","name":"Test1","icon":"dashboard","disabled":false,"hidden":false}]