node-red/app/flows/barcode.json
[{"id":"3d06e230.46d6be","type":"rpi-keyboard","z":"836b592a.d39f98","name":"","x":190,"y":540,"wires":[["a5d78c16.b2f83"]]},{"id":"a5d78c16.b2f83","type":"switch","z":"836b592a.d39f98","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"repeat","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":540,"wires":[["f5693124.0e241","44c43bee.8cd354","e67ecdd4.0a95a"],[],[]]},{"id":"f5693124.0e241","type":"debug","z":"836b592a.d39f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"af9ec6e2.a413d8","type":"ui_text","z":"836b592a.d39f98","group":"bddc9f15.b5f1","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":500,"wires":[]},{"id":"44c43bee.8cd354","type":"switch","z":"836b592a.d39f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"82","vt":"num"},{"t":"eq","v":"79","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"81","vt":"num"},{"t":"eq","v":"75","vt":"num"},{"t":"eq","v":"76","vt":"num"},{"t":"eq","v":"77","vt":"num"},{"t":"eq","v":"71","vt":"num"},{"t":"eq","v":"72","vt":"num"},{"t":"eq","v":"73","vt":"num"},{"t":"eq","v":"96","vt":"num"},{"t":"eq","v":"28","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":570,"y":520,"wires":[["6ba352c9.6d1d9c"],["cd6c1965.095a28"],["b19af394.9a4bb"],["1fa282b4.2f9c2d"],["56524c96.625824"],["129b7b25.315e25"],["fea9b9cb.e60588"],["3c9af270.a645ee"],["36edccff.18b3d4"],["b6570b78.8a0aa8"],["7a764ae4.5ad7f4"],["1a353283.4c08ed"]]},{"id":"cd6c1965.095a28","type":"change","z":"836b592a.d39f98","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":340,"wires":[["42c1487c.645258"]]},{"id":"b19af394.9a4bb","type":"change","z":"836b592a.d39f98","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":380,"wires":[["42c1487c.645258"]]},{"id":"1fa282b4.2f9c2d","type":"change","z":"836b592a.d39f98","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":420,"wires":[["42c1487c.645258"]]},{"id":"56524c96.625824","type":"change","z":"836b592a.d39f98","name":"4","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":460,"wires":[["42c1487c.645258"]]},{"id":"6ba352c9.6d1d9c","type":"change","z":"836b592a.d39f98","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[["42c1487c.645258"]]},{"id":"6472a4f6.f11f3c","type":"debug","z":"836b592a.d39f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":460,"wires":[]},{"id":"fea9b9cb.e60588","type":"change","z":"836b592a.d39f98","name":"6","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":540,"wires":[["42c1487c.645258"]]},{"id":"3c9af270.a645ee","type":"change","z":"836b592a.d39f98","name":"7","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":580,"wires":[["42c1487c.645258"]]},{"id":"36edccff.18b3d4","type":"change","z":"836b592a.d39f98","name":"8","rules":[{"t":"set","p":"payload","pt":"msg","to":"8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[["42c1487c.645258"]]},{"id":"b6570b78.8a0aa8","type":"change","z":"836b592a.d39f98","name":"9","rules":[{"t":"set","p":"payload","pt":"msg","to":"9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[["42c1487c.645258"]]},{"id":"129b7b25.315e25","type":"change","z":"836b592a.d39f98","name":"5","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["42c1487c.645258"]]},{"id":"42c1487c.645258","type":"join","z":"836b592a.d39f98","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1050,"y":480,"wires":[["af9ec6e2.a413d8","6472a4f6.f11f3c"]]},{"id":"7a764ae4.5ad7f4","type":"change","z":"836b592a.d39f98","name":"ENTER (keypad)","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":700,"wires":[["be116f39.1fc3b"]]},{"id":"be116f39.1fc3b","type":"change","z":"836b592a.d39f98","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":720,"wires":[["42c1487c.645258"]]},{"id":"1a353283.4c08ed","type":"change","z":"836b592a.d39f98","name":"ENTER","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":740,"wires":[["be116f39.1fc3b"]]},{"id":"30ecbf71.f9ca5","type":"switch","z":"836b592a.d39f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"82","vt":"num"},{"t":"eq","v":"79","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"81","vt":"num"},{"t":"eq","v":"75","vt":"num"},{"t":"eq","v":"76","vt":"num"},{"t":"eq","v":"77","vt":"num"},{"t":"eq","v":"71","vt":"num"},{"t":"eq","v":"72","vt":"num"},{"t":"eq","v":"73","vt":"num"},{"t":"eq","v":"96","vt":"num"},{"t":"eq","v":"28","vt":"num"},{"t":"eq","v":"","vt":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"92","vt":"num"},{"t":"eq","v":"93","vt":"num"},{"t":"eq","v":"94","vt":"num"},{"t":"eq","v":"95","vt":"num"},{"t":"eq","v":"96","vt":"num"},{"t":"eq","v":"97","vt":"num"},{"t":"eq","v":"98","vt":"num"}],"checkall":"false","repair":false,"outputs":21,"x":250,"y":800,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"e67ecdd4.0a95a","type":"switch","z":"836b592a.d39f98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"103","vt":"num"},{"t":"eq","v":"108","vt":"num"},{"t":"eq","v":"105","vt":"num"},{"t":"eq","v":"106","vt":"num"},{"t":"eq","v":"78","vt":"num"},{"t":"eq","v":"74","vt":"num"},{"t":"eq","v":"","vt":"num"}],"checkall":"false","repair":false,"outputs":7,"x":570,"y":920,"wires":[["14dc0de1.3d19f2"],["103a3116.530b3f"],["80201523.06e9c8"],["b20bce44.7138e"],["56ff4aca.5211d4"],["acd2679a.9acb58"],[]]},{"id":"103a3116.530b3f","type":"change","z":"836b592a.d39f98","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":860,"wires":[["382f81ed.dddbfe","42b6758b.c5c41c"]]},{"id":"80201523.06e9c8","type":"change","z":"836b592a.d39f98","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":900,"wires":[["382f81ed.dddbfe"]]},{"id":"b20bce44.7138e","type":"change","z":"836b592a.d39f98","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":940,"wires":[["382f81ed.dddbfe"]]},{"id":"56ff4aca.5211d4","type":"change","z":"836b592a.d39f98","name":"+","rules":[{"t":"set","p":"payload","pt":"msg","to":"+","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":980,"wires":[["382f81ed.dddbfe"]]},{"id":"14dc0de1.3d19f2","type":"change","z":"836b592a.d39f98","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":820,"wires":[["382f81ed.dddbfe","89af9aa6.63e728"]]},{"id":"acd2679a.9acb58","type":"change","z":"836b592a.d39f98","name":"-","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1020,"wires":[["382f81ed.dddbfe"]]},{"id":"382f81ed.dddbfe","type":"debug","z":"836b592a.d39f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":920,"wires":[]},{"id":"89af9aa6.63e728","type":"change","z":"836b592a.d39f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":820,"wires":[[]]},{"id":"42b6758b.c5c41c","type":"change","z":"836b592a.d39f98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":860,"wires":[[]]},{"id":"5f064c75.674d24","type":"comment","z":"836b592a.d39f98","name":"barcode reader decoder","info":"","x":220,"y":320,"wires":[]},{"id":"bddc9f15.b5f1","type":"ui_group","name":"Default","tab":"1cc7de39.7cc802","order":1,"disp":true,"width":"6","collapse":false},{"id":"1cc7de39.7cc802","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]