node-red/app/flows/flows_hiChart.json
[{"id":"1927472d.b10f89","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"16a57cb4.267803","type":"debug","z":"1927472d.b10f89","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"a5d77f6d.9065","type":"function","z":"1927472d.b10f89","name":"forward data","func":"var values = [1,2,3,{\n            y: 4,\n            marker: {\n                symbol: 'url(https://www.highcharts.com/samples/graphics/sun.png)'\n            }\n        },5,6,7,8,9,10,11,12,13, {\n            y: 14,\n            marker: {\n                symbol: 'url(https://www.highcharts.com/samples/graphics/sun.png)'\n            }\n        },13,12,11,10,9,8,7,6,5,4];\n\n\nmsg.topic = \"forward\"\nmsg.payload={\n        data: values\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":120,"wires":[["ce45fdc5.ce8b1"]]},{"id":"54481928.aa4c38","type":"inject","z":"1927472d.b10f89","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"forward","payload":"{\"data\":[{\"y\":0,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":1,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":2,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":3,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":4,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":5,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":6,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":7,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":8,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":9,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":11,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":12,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}}]}","payloadType":"json","x":150,"y":120,"wires":[["a5d77f6d.9065"]]},{"id":"84595672.47afd8","type":"inject","z":"1927472d.b10f89","name":"temp + icone","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"forward","payload":"{\"data\":[{\"y\":0,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":1,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":2,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":3,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":4,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":5,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":6,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":7,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":8,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":9,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":11,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":12,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}}]}","payloadType":"json","x":230,"y":160,"wires":[["ce45fdc5.ce8b1"]]},{"id":"ce45fdc5.ce8b1","type":"ui_template","z":"1927472d.b10f89","group":"90dc9d5d.7ddcf","name":"HiChart","order":0,"width":0,"height":0,"format":"<!--\n<script src=\"/scripts/highcharts/highcharts.js\"></script>\n<script src=\"/scripts/highcharts/modules/exporting.js\"></script>\n<script src=\"/scripts/highcharts/modules/no-data-to-display.js\"></script>\n<script src=\"/scripts/site/chart.js\"></script>\n\n<script src=\"https://code.highcharts.com/modules/exporting.src.js\"></script>\n<script src=\"https://code.highcharts.com/modules/no-data-to-display.src.js\"></script>\n-->\n\n<style type=\"text/css\">\n.nr-dashboard-theme .nr-dashboard-template path {\n    fill: none;\n}\n    .highcharts-figure, .highcharts-data-table table {\n    min-width: 310px; \n    /*max-width: 800px;*/\n    margin: 1em auto;\n}\n\n#container {\n    height: 400px;\n    fill: none;\n}\n\n.highcharts-data-table table {\n\tfont-family: Verdana, sans-serif;\n\tborder-collapse: collapse;\n\tborder: 1px solid #EBEBEB;\n\tmargin: 10px auto;\n\ttext-align: center;\n\twidth: 100%;\n\tmax-width: 500px;\n}\n.highcharts-data-table caption {\n    padding: 1em 0;\n    font-size: 1.2em;\n    color: #555;\n}\n.highcharts-data-table th {\n\tfont-weight: 600;\n    padding: 0.5em;\n}\n.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {\n    padding: 0.5em;\n}\n.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {\n    background: #f8f8f8;\n}\n.highcharts-data-table tr:hover {\n    background: #f1f7ff;\n}\n    \n</style>\n\n\n\n\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n\n\n\n<div id=\"graph\" style=\"min-width: 800px; height: 300px; margin: 0 auto\"></div>\n\n<script>\n(function(scope){\n    var timer = setInterval(function(){\n        if (!window.Highcharts) return;\n        //debugger;\n        clearInterval(timer);\n        \n\n        function getChartOptions(renderToElement) {\n        \treturn {\n                chart: {\n                    renderTo: renderToElement,\n                    type: 'spline',\n                    zoomType: 'x',\n                    events: {\n                        click: function (e) {\n                            // find the clicked values and the series\n                            var x = Math.round(e.xAxis[0].value),\n                                y = Math.round(e.yAxis[0].value),\n                                series = this.series;\n                            scope.send({payload: {x: x, y: y}});\n            \n                            series[0].data[x].update(y);\n            \n                        }\n                    }\n                },\n                credits: {\n                    enabled: false\n                },\n                title: {\n                    text: 'Température extérieur'\n                },\n                subtitle: {\n                    text: 'Source: KNX virtual World'\n                },\n                xAxis: [{\n                    categories: ['1h', '2h', '3h', '4h', '5h', '6h',\n                        '7h', '8h', '9h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h', '19h', '20h', '21h', '22h', '23h', '24h'],\n                    minRange: 5, //Zoom max jusqu'à 5h (impossible de n'afficher que 3h par exemple)\n                    crosshair: true\n                }],\n                yAxis: [{ // Primary yAxis\n                    labels: {\n                        format: '{value}°C',\n                        style: {\n                            color: Highcharts.getOptions().colors[1]\n                        }\n                    },\n                    title: {\n                        text: 'Température',\n                        style: {\n                            color: Highcharts.getOptions().colors[1]\n                        }\n                    }\n                }],\n                tooltip: {\n                    enabled: false,\n                    shared: true\n                },\n                legend: {\n                    layout: 'vertical',\n                    align: 'left',\n                    x: 40,\n                    verticalAlign: 'top',\n                    y: 10,\n                    floating: true,\n                    backgroundColor:\n                        Highcharts.defaultOptions.legend.backgroundColor || // theme\n                        'rgba(255,255,255,0.25)'\n                },\n                plotOptions: {\n                    series: {\n                        lineWidth: 1,\n                        dataLabels: {\n                            enabled: true,\n                            y: -10\n                        },\n                        enableMouseTracking: true,\n                        //cursor: 'pointer',\n                        point: {\n                            events: {\n                                click: function (e) {\n                                \n                                   if (this.series.data.length > 1) {\n                                    \n                                        //console.log(e.x);\n                                        \n                                    }\n                                }\n                            }\n                        }\n                    }\n                },\n                \n                series: [{\n        \t\t\tname: 'Température',\n        \t\t\tlineWidth: 1,\n        \t\t\t//type: 'spline',\n        \t\t\tfillOpacity: 0.3,\n                    //color: Highcharts.getOptions().colors[2], //ligne en vert\n        \t\t\tdashStyle: 'longdash',\n        \t\t\tconnectEnds: false,\n                    connectNulls: true,\n\t\t            threshold: 0\n        \t\t},\n        \t\t{\n        \t\t\tname: 'Météo',\n        \t\t\tlineWidth: 0,\n        \t\t\tdataLabels: {\n                            enabled: false,\n                            y: -10\n                        },\n        \t\t\t//type: 'spline',\n        \t\t\t//fillOpacity: 0.3,\n                    //color: Highcharts.getOptions().colors[2], //ligne en vert\n        \t\t\t//dashStyle: 'longdash',\n        \t\t\tconnectEnds: false,\n                    connectNulls: true,\n\t\t            threshold: 0\n        \t\t}]\n               \n        \n\n        \t};\n        }\n    \n        var ch = new Highcharts.chart(getChartOptions('graph'));\n        var pForward = ch.series[0];\n        var pReflected = ch.series[1];\n\n        scope.$watch('msg', function(msg) {\n            switch (msg.topic){\n                case 'forward':\n                    pForward.setData(msg.payload.data, true, false, true);\n                    break;\n                case 'reflected':\n                    pReflected.setData(msg.payload.data, true, false, true);\n                    break;\n                default:\n                    break;\n            }\n        });\n\n    }, 100);\n})(scope);\n\n\n</script>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":480,"y":160,"wires":[["16a57cb4.267803"]]},{"id":"d1096430.e233e8","type":"inject","z":"1927472d.b10f89","name":"icone","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"reflected","payload":"{\"data\":[{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.windy.com/img/icons6/png_25px/19.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/snow.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.windy.com/img/icons6/png_25px/1.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}},{\"y\":-10,\"marker\":{\"symbol\":\"url(https://www.highcharts.com/samples/graphics/sun.png)\"}}]}","payloadType":"json","x":250,"y":240,"wires":[["ce45fdc5.ce8b1"]]},{"id":"3b7493bc.166f1c","type":"inject","z":"1927472d.b10f89","name":"temp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"forward","payload":"{\"data\":[{\"y\":0},{\"y\":1},{\"y\":2},{\"y\":3},{\"y\":4},{\"y\":5},{\"y\":6},{\"y\":7},{\"y\":8},{\"y\":9},{\"y\":10},{\"y\":11},{\"y\":12},{\"y\":13},{\"y\":14},{\"y\":15},{\"y\":16},{\"y\":17},{\"y\":18},{\"y\":19},{\"y\":20},{\"y\":21},{\"y\":22},{\"y\":23},{\"y\":24}]}","payloadType":"json","x":250,"y":200,"wires":[["ce45fdc5.ce8b1"]]},{"id":"90dc9d5d.7ddcf","type":"ui_group","name":"Charts","tab":"b5c65cf5.9d8fe","order":2,"disp":true,"width":"18","collapse":false},{"id":"b5c65cf5.9d8fe","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]