node-red/app/flows/GPIO - KNX.json
[{"id":"120c9da1.b33862","type":"rpi-gpio in","z":"89332b31.cefa38","name":"","pin":"29","intype":"up","debounce":"25","read":false,"x":160,"y":1960,"wires":[["a610f56b.288c48","bc023ef.dc36ec"]]},{"id":"a610f56b.288c48","type":"debug","z":"89332b31.cefa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":2000,"wires":[]},{"id":"bc023ef.dc36ec","type":"switch","z":"89332b31.cefa38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1960,"wires":[["5e2d8108.f588f"],["90fbf940.cf5598"]]},{"id":"90fbf940.cf5598","type":"change","z":"89332b31.cefa38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1980,"wires":[["6fcb89b1.63fcd8"]]},{"id":"5e2d8108.f588f","type":"change","z":"89332b31.cefa38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1940,"wires":[["6fcb89b1.63fcd8"]]},{"id":"6fcb89b1.63fcd8","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/1","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":740,"y":1960,"wires":[[]]},{"id":"96028a21.78f9f8","type":"comment","z":"89332b31.cefa38","name":"GPIO - KNX","info":"","x":170,"y":1900,"wires":[]},{"id":"d235d04c.f27bc","type":"knxUltimate-config","z":"","host":"224.0.23.12","port":"3671","physAddr":"15.15.22","suppressACKRequest":false,"csv":"","KNXEthInterface":"Auto","KNXEthInterfaceManuallyInput":"","statusDisplayLastUpdate":true,"statusDisplayDeviceNameWhenALL":true,"statusDisplayDataPoint":false,"stopETSImportIfNoDatapoint":"stop","loglevel":"error","name":"Multicast KNX Gateway","localEchoInTunneling":true,"delaybetweentelegrams":"40","delaybetweentelegramsfurtherdelayREAD":"1"}]