node-red/app/flows/test_ip_KNX_proxy.json
[{"id":"8cd05c87.21615","type":"udp in","z":"9591183b.6ac108","name":"","iface":"","port":"3671","ipv":"udp4","multicast":"true","group":"224.0.23.12","datatype":"base64","x":460,"y":560,"wires":[["3cfcd41b.ef044c"]]},{"id":"7f0f6184.2a9e1","type":"udp out","z":"9591183b.6ac108","name":"","addr":"224.0.23.12","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"multi","x":690,"y":520,"wires":[]},{"id":"3cfcd41b.ef044c","type":"debug","z":"9591183b.6ac108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":560,"wires":[]},{"id":"774be12e.e13c7","type":"udp in","z":"9591183b.6ac108","name":"","iface":"","port":"1400","ipv":"udp4","multicast":"false","group":"224.0.23.12","datatype":"base64","x":200,"y":760,"wires":[["308590c5.189ba","5dabbb60.9a06f4","c339f5b7.758b28"]]},{"id":"197eed17.b99ee3","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":680,"wires":[]},{"id":"c339f5b7.758b28","type":"udp out","z":"9591183b.6ac108","name":"","addr":"10.0.0.239","iface":"","port":"3671","ipv":"udp4","outport":"1980","base64":true,"multicast":"false","x":680,"y":640,"wires":[]},{"id":"6fb56b1e.195474","type":"udp out","z":"9591183b.6ac108","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"1400","base64":true,"multicast":"false","x":970,"y":800,"wires":[]},{"id":"94d8135b.24bf7","type":"udp in","z":"9591183b.6ac108","name":"","iface":"","port":"1980","ipv":"udp4","multicast":"false","group":"224.0.23.12","datatype":"base64","x":240,"y":940,"wires":[["57e5b0c7.cacf7","64babaca.145bd4"]]},{"id":"57e5b0c7.cacf7","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":940,"wires":[]},{"id":"308590c5.189ba","type":"switch","z":"9591183b.6ac108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"BhACAwAOCAEAAAAAAAA=","vt":"str"},{"t":"eq","v":"BhACBQAaCAEKAAAp/6MIAQoAACn/pAQEAgA=","vt":"str"},{"t":"eq","v":"BhACBQAaCAEKAAAp2f8IAQoAACnaAAQEAgA=","vt":"str"},{"t":"eq","v":"BhACBQAaCAEKAAApwh8IAQoAACnCIAQEAgA=","vt":"str"},{"t":"eq","v":"BhACBQAaCAEKAAAp30kIAQoAACnfSgQEAgA=","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":410,"y":820,"wires":[["197eed17.b99ee3","52d29e95.e749b"],["ceaec6d7.62cfa8"],["b15ffa6a.097eb8"],["d83cd841.b182c8"],["ee6d8654.165c98"],["dab80915.139388","2d8fa2ea.d34aae"]]},{"id":"52d29e95.e749b","type":"change","z":"9591183b.6ac108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"BhACBABGNgECACEAAAAAAQAfAwPgABcMAA6MABkpSVAvS05YIHJvdXRlciBUSDIxMAAAAAAAAAAAAAAACgICAQMBBAEFAQ==","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":720,"wires":[["840847fe.40dc08","6fb56b1e.195474"]]},{"id":"840847fe.40dc08","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":720,"wires":[]},{"id":"ceaec6d7.62cfa8","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":760,"wires":[]},{"id":"dab80915.139388","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":920,"wires":[]},{"id":"b15ffa6a.097eb8","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":800,"wires":[]},{"id":"d83cd841.b182c8","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":840,"wires":[]},{"id":"ee6d8654.165c98","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":880,"wires":[]},{"id":"64babaca.145bd4","type":"change","z":"9591183b.6ac108","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"10.0.0.41","tot":"str"},{"t":"set","p":"port","pt":"msg","to":"1400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":980,"wires":[[]]},{"id":"5dabbb60.9a06f4","type":"debug","z":"9591183b.6ac108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":735,"wires":[]},{"id":"2d8fa2ea.d34aae","type":"change","z":"9591183b.6ac108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"BhACCQAQUAAIAQoAAO8OVw==","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":920,"wires":[["6fb56b1e.195474","db98037e.5dd4"]]},{"id":"db98037e.5dd4","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":920,"wires":[]}]