node-red/app/flows/sonos/SONOS vol dpt 4bit.json
[
    {
        "id": "7aea40e7.de4d4",
        "type": "comment",
        "z": "3d7428f2.632238",
        "name": "SONOS vol +/- (avec dpt 4bit)",
        "info": "",
        "x": 300,
        "y": 600,
        "wires": []
    },
    {
        "id": "661924b9.3554cc",
        "type": "sonos-universal",
        "z": "3d7428f2.632238",
        "confignode": "",
        "compatibilityMode": false,
        "command": "player.set.volume",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 1650,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b47448aa.a354c8",
        "type": "knxUltimate",
        "z": "3d7428f2.632238",
        "server": "1250d295.330abd",
        "topic": "0/0/20",
        "outputtopic": "",
        "dpt": "3.007",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "28017ea0.81dc62"
            ]
        ]
    },
    {
        "id": "a6281467.f54978",
        "type": "counter",
        "z": "3d7428f2.632238",
        "name": "",
        "init": "0",
        "step": "5",
        "lower": "0",
        "upper": "30",
        "mode": "increment",
        "outputs": "1",
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "64db1525.18c9bc"
            ]
        ]
    },
    {
        "id": "64db1525.18c9bc",
        "type": "change",
        "z": "3d7428f2.632238",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "count",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 680,
        "wires": [
            [
                "661924b9.3554cc"
            ]
        ]
    },
    {
        "id": "c5603ee1.ee69a",
        "type": "change",
        "z": "3d7428f2.632238",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "increment",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "a6281467.f54978"
            ]
        ]
    },
    {
        "id": "f66c49c8.334858",
        "type": "change",
        "z": "3d7428f2.632238",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "decrement",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 700,
        "wires": [
            [
                "a6281467.f54978"
            ]
        ]
    },
    {
        "id": "28017ea0.81dc62",
        "type": "switch",
        "z": "3d7428f2.632238",
        "name": "",
        "property": "payload.decr_incr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 680,
        "wires": [
            [
                "374b207e.0df64"
            ],
            [
                "f498b393.8b1ce"
            ]
        ]
    },
    {
        "id": "f9a5f90f.a954f8",
        "type": "trigger",
        "z": "3d7428f2.632238",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "c5603ee1.ee69a"
            ]
        ]
    },
    {
        "id": "89132487.1c40a8",
        "type": "trigger",
        "z": "3d7428f2.632238",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 840,
        "y": 700,
        "wires": [
            [
                "f66c49c8.334858"
            ]
        ]
    },
    {
        "id": "374b207e.0df64",
        "type": "change",
        "z": "3d7428f2.632238",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "f9a5f90f.a954f8"
            ]
        ]
    },
    {
        "id": "f498b393.8b1ce",
        "type": "change",
        "z": "3d7428f2.632238",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 700,
        "wires": [
            [
                "89132487.1c40a8"
            ]
        ]
    },
    {
        "id": "1250d295.330abd",
        "type": "knxUltimate-config",
        "host": "224.0.23.12",
        "port": "3671",
        "physAddr": "15.15.22",
        "suppressACKRequest": false,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "statusDisplayLastUpdate": true,
        "statusDisplayDeviceNameWhenALL": true,
        "statusDisplayDataPoint": false,
        "stopETSImportIfNoDatapoint": "stop",
        "loglevel": "error",
        "name": "Multicast KNX Gateway",
        "localEchoInTunneling": true,
        "delaybetweentelegrams": "40",
        "delaybetweentelegramsfurtherdelayREAD": "1"
    }
]