nodered/app/flows/alexa.json
[{"id":"2415de34.a57552","type":"subflow","name":"device state","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b643ba4b.ed8568"}]}],"out":[],"env":[],"color":"#FDF0C2","icon":"node-red-contrib-virtual-smart-home/vsh_icon.svg","status":{"x":340,"y":160,"wires":[{"id":"481bce2f.15694","port":0}]}},{"id":"b643ba4b.ed8568","type":"function","z":"2415de34.a57552","name":"state","func":"node.status({\n    text: JSON.stringify(msg.payload)\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[[]]},{"id":"481bce2f.15694","type":"status","z":"2415de34.a57552","name":"","scope":["b643ba4b.ed8568"],"x":200,"y":160,"wires":[[]]},{"id":"792194aa.01b44c","type":"comment","z":"b049c2f5.8e0c1","name":"commande à dire","info":"alexa ouvre le volet de la chambre\nalexa ferme le volet de la chambre\n\nalexa monte le volet de la chambre\nalexa descend le volet de la chambre","x":280,"y":60,"wires":[]},{"id":"589255b7.cc70ec","type":"comment","z":"b049c2f5.8e0c1","name":"commande à dire","info":"alexa allume test\nalexa éteint test\n","x":280,"y":420,"wires":[]},{"id":"6dc99a3c.4197a4","type":"inject","z":"b049c2f5.8e0c1","name":"up","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"Position.Up\"}","payloadType":"json","x":130,"y":120,"wires":[["64d2e5d6.21833c"]]},{"id":"64d2e5d6.21833c","type":"vsh-virtual-device","z":"b049c2f5.8e0c1","name":"volet","connection":"7d71439a.9473cc","template":"BLINDS","passthrough":true,"x":410,"y":120,"wires":[["2d80deef.8e3972","33d4b041.83837"]]},{"id":"3e0fcb72.ccee14","type":"comment","z":"b049c2f5.8e0c1","name":"BLINDS","info":"","x":110,"y":60,"wires":[]},{"id":"2d80deef.8e3972","type":"debug","z":"b049c2f5.8e0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"33d4b041.83837","type":"subflow:2415de34.a57552","z":"b049c2f5.8e0c1","name":"","env":[],"x":710,"y":160,"wires":[]},{"id":"7e1e991d.512e38","type":"inject","z":"b049c2f5.8e0c1","name":"down","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"Position.Down\"}","payloadType":"json","x":130,"y":160,"wires":[["64d2e5d6.21833c"]]},{"id":"7b53e4f0.40ebcc","type":"inject","z":"b049c2f5.8e0c1","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"ON\"}","payloadType":"json","x":130,"y":280,"wires":[["75e8550d.3c1c4c"]]},{"id":"88e2ca4e.43c328","type":"inject","z":"b049c2f5.8e0c1","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"OFF\"}","payloadType":"json","x":130,"y":320,"wires":[["75e8550d.3c1c4c"]]},{"id":"75e8550d.3c1c4c","type":"vsh-virtual-device","z":"b049c2f5.8e0c1","name":"lampe anais","connection":"7d71439a.9473cc","template":"DIMMABLE_LIGHT_BULB","passthrough":true,"x":430,"y":280,"wires":[["994477ac.b54ca8","1e21797c.be03b7"]]},{"id":"3a8b4d8f.c8cd52","type":"comment","z":"b049c2f5.8e0c1","name":"DIMMABLE LIGHT BULB","info":"","x":170,"y":220,"wires":[]},{"id":"994477ac.b54ca8","type":"debug","z":"b049c2f5.8e0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":280,"wires":[]},{"id":"1e21797c.be03b7","type":"subflow:2415de34.a57552","z":"b049c2f5.8e0c1","name":"","env":[],"x":710,"y":320,"wires":[]},{"id":"f2d620eb.7404f","type":"inject","z":"b049c2f5.8e0c1","name":"60%","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"ON\",\"brightness\":60}","payloadType":"json","x":130,"y":360,"wires":[["75e8550d.3c1c4c"]]},{"id":"3a64a341.d9ffbc","type":"inject","z":"b049c2f5.8e0c1","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"ON\"}","payloadType":"json","x":130,"y":480,"wires":[["e2b726c0.21a3b8"]]},{"id":"b8d1e987.9ccba8","type":"inject","z":"b049c2f5.8e0c1","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"OFF\"}","payloadType":"json","x":130,"y":520,"wires":[["e2b726c0.21a3b8"]]},{"id":"e2b726c0.21a3b8","type":"vsh-virtual-device","z":"b049c2f5.8e0c1","name":"lampe","connection":"7d71439a.9473cc","template":"SWITCH","passthrough":true,"x":420,"y":480,"wires":[["cc25d2e5.c194c","a1b2735.cb7c79"]]},{"id":"5c54760d.08d408","type":"comment","z":"b049c2f5.8e0c1","name":"SWITCH","info":"","x":120,"y":420,"wires":[]},{"id":"cc25d2e5.c194c","type":"debug","z":"b049c2f5.8e0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"a1b2735.cb7c79","type":"subflow:2415de34.a57552","z":"b049c2f5.8e0c1","name":"","env":[],"x":710,"y":520,"wires":[]},{"id":"b3d6cb98.f71c28","type":"inject","z":"b049c2f5.8e0c1","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"ON\"}","payloadType":"json","x":130,"y":640,"wires":[["65e67035.26c41"]]},{"id":"cc76d10e.38e01","type":"inject","z":"b049c2f5.8e0c1","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"OFF\"}","payloadType":"json","x":130,"y":680,"wires":[["65e67035.26c41"]]},{"id":"65e67035.26c41","type":"vsh-virtual-device","z":"b049c2f5.8e0c1","name":"lampe lit","connection":"7d71439a.9473cc","template":"COLOR_CHANGING_LIGHT_BULB","passthrough":true,"x":420,"y":640,"wires":[["14bc5c90.2bb7a3","38e1ec36.165b54"]]},{"id":"36fa3f3f.9e9b6","type":"comment","z":"b049c2f5.8e0c1","name":"COLOR CHANGING LIGHT BULB","info":"","x":200,"y":580,"wires":[]},{"id":"14bc5c90.2bb7a3","type":"debug","z":"b049c2f5.8e0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":640,"wires":[]},{"id":"38e1ec36.165b54","type":"subflow:2415de34.a57552","z":"b049c2f5.8e0c1","name":"","env":[],"x":710,"y":680,"wires":[]},{"id":"acd89901.5da698","type":"inject","z":"b049c2f5.8e0c1","name":"60%","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"powerState\":\"ON\",\"brightness\":60}","payloadType":"json","x":130,"y":720,"wires":[["65e67035.26c41"]]},{"id":"64d20de2.7193b4","type":"inject","z":"b049c2f5.8e0c1","name":"warm white (temp)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"colorTemperatureInKelvin\":2200,\"lightMode\":\"temp\"}","payloadType":"json","x":170,"y":800,"wires":[["65e67035.26c41"]]},{"id":"825fd7e3.fcb798","type":"inject","z":"b049c2f5.8e0c1","name":"green (hsb)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"color\":{\"hue\":120,\"saturation\":1,\"brightness\":0.5},\"lightMode\":\"hsb\"}","payloadType":"json","x":140,"y":760,"wires":[["65e67035.26c41"]]},{"id":"2b659fa5.8f90e","type":"inject","z":"b049c2f5.8e0c1","name":"red (color_rgb)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"color_rgb\":[255,0,0],\"lightMode\":\"hsb\"}","payloadType":"json","x":150,"y":840,"wires":[["65e67035.26c41"]]},{"id":"45dcebda.881124","type":"inject","z":"b049c2f5.8e0c1","name":"blue (color_hex)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"color_hex\":\"0000FF\",\"lightMode\":\"hsb\"}","payloadType":"json","x":160,"y":880,"wires":[["65e67035.26c41"]]},{"id":"7d71439a.9473cc","type":"vsh-connection","name":"test","port":"8883","accessTokenExpiry":"1603663447201"}]