nodered/app/flows/flows_new.json
[{"id":"d6cf0f8c.b61dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d9e75d54.069d8","type":"bigtimer","z":"d6cf0f8c.b61dc","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"5003","endtime":"5004","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":480,"y":220,"wires":[["2eadecf4.bbba04"],["1d66c1b4.a7915e"],["d00acbc7.b3f3f8"]]},{"id":"bd71c784.dfaa18","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":310,"y":140,"wires":[["d9e75d54.069d8"]]},{"id":"2eadecf4.bbba04","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"1d66c1b4.a7915e","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"d00acbc7.b3f3f8","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":260,"wires":[]},{"id":"a35c10e7.38ff6","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":310,"y":100,"wires":[["d9e75d54.069d8"]]},{"id":"80a804ef.4209b8","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":310,"y":180,"wires":[["d9e75d54.069d8"]]},{"id":"ab2d6455.bff9a8","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"geo_override 37.7 -2.53","payloadType":"str","x":250,"y":220,"wires":[["d9e75d54.069d8"]]},{"id":"ed000bf2.125d98","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"geo_override 17.7 -1.53","payloadType":"str","x":260,"y":280,"wires":[["d9e75d54.069d8"]]},{"id":"95992d3e.b4c38","type":"exec","z":"d6cf0f8c.b61dc","command":"sudo date --set=\"14:30:00\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":380,"wires":[[],[],[]]},{"id":"85c631e6.32003","type":"inject","z":"d6cf0f8c.b61dc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":380,"wires":[["95992d3e.b4c38"]]},{"id":"a53f139.160d0f","type":"i2c scan","z":"d6cf0f8c.b61dc","name":"","busno":"0","x":400,"y":620,"wires":[["7dc4e5b1.768e0c"],[]]},{"id":"d3039374.44e1","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["a53f139.160d0f"]]},{"id":"7dc4e5b1.768e0c","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"c3b5064f.4e9108","type":"i2c scan","z":"d6cf0f8c.b61dc","name":"","busno":"1","x":400,"y":660,"wires":[["723aeb92.521004"],[]]},{"id":"80eb097d.f6c768","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":660,"wires":[["c3b5064f.4e9108"]]},{"id":"723aeb92.521004","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":660,"wires":[]},{"id":"adf922db.a1645","type":"i2c scan","z":"d6cf0f8c.b61dc","name":"","busno":"4","x":400,"y":700,"wires":[["b0e21532.018e08"],[]]},{"id":"1fb803d.cb5a5fc","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":700,"wires":[["adf922db.a1645"]]},{"id":"b0e21532.018e08","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":700,"wires":[]},{"id":"f3abfe86.e9281","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":500,"wires":[]},{"id":"69cdb538.61d52c","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TITRE","payloadType":"env","x":1110,"y":180,"wires":[["ea431895.2265c8"]]},{"id":"ea431895.2265c8","type":"debug","z":"d6cf0f8c.b61dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":260,"wires":[]},{"id":"800382ec.e3ada","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TITRE_URL","payloadType":"env","x":1110,"y":220,"wires":[["ea431895.2265c8"]]},{"id":"339370ba.8e66a","type":"inject","z":"d6cf0f8c.b61dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PORT","payloadType":"env","x":1110,"y":260,"wires":[["ea431895.2265c8"]]},{"id":"f0b060a3.03d9a","type":"comment","z":"d6cf0f8c.b61dc","name":"VARIABLE D ENVIRONEMENT","info":"","x":1150,"y":120,"wires":[]}]