nodered/app/flows/incorporer_un_fichier_image.json
[{"id":"c7e341a0.381cc","type":"http in","z":"35ddaf8.f276a5","name":"","url":"/png","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["2fb1c354.d04e3c"]]},{"id":"2fb1c354.d04e3c","type":"file in","z":"35ddaf8.f276a5","name":"","filename":"/tmp/node-red.png","format":"","x":310,"y":100,"wires":[["c9e28681.361d78"]]},{"id":"c9e28681.361d78","type":"change","z":"35ddaf8.f276a5","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[["88974243.7768c"]]},{"id":"88974243.7768c","type":"http response","z":"35ddaf8.f276a5","name":"","x":630,"y":100,"wires":[]},{"id":"6e9dfbcd.317a44","type":"comment","z":"35ddaf8.f276a5","name":"image dans c:/tmp/node-red.png","info":"","x":190,"y":60,"wires":[]}]