nodered/app/flows/KNX onoff & dimmer.json
[{"id":"89332b31.cefa38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"586444ef.7bc11c","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":60,"wires":[["3e2302bc.3fc80e"]]},{"id":"3e2302bc.3fc80e","type":"debug","z":"89332b31.cefa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"13f865fc.c1d2aa","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":100,"wires":[["9fb2f090.54fa6"]]},{"id":"1d2fa0fe.5bd6df","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":140,"wires":[["9fb2f090.54fa6"]]},{"id":"dc885c7e.aa041","type":"change","z":"89332b31.cefa38","name":"igdfgkopdf","rules":[{"t":"set","p":"payload","pt":"msg","to":"Gagné","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["3e2302bc.3fc80e"]]},{"id":"9fb2f090.54fa6","type":"switch","z":"89332b31.cefa38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":120,"wires":[["dc885c7e.aa041"],["1aa5374e.298659"]]},{"id":"1aa5374e.298659","type":"change","z":"89332b31.cefa38","name":"igdfgkopdf","rules":[{"t":"set","p":"payload","pt":"msg","to":"perdu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["3e2302bc.3fc80e"]]},{"id":"b4de0ff6.513df","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.play","state":"","stateType":"str","name":"","x":330,"y":960,"wires":[[]]},{"id":"4cb239fc.1fbdf8","type":"comment","z":"89332b31.cefa38","name":"ID des Sonos","info":"B8-E9-37-B4-56-42:D\tSonos 1\nB8-E9-37-B7-71-74:8\tSonos 2\nB8-E9-37-B7-70-AC:C\tSonos 3\nB8-E9-37-B7-71-66:B\tSonos 4\nB8-E9-37-B7-71-48:F\tSonos 5\nB8-E9-37-B7-70-CA:8\tSonos 6\n","x":150,"y":900,"wires":[]},{"id":"2af5216b.7f6ffe","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.pause","state":"","stateType":"str","name":"","x":330,"y":1000,"wires":[[]]},{"id":"b319b956.83ba88","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":960,"wires":[["b4de0ff6.513df"]]},{"id":"5356ce57.0b528","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1000,"wires":[["2af5216b.7f6ffe"]]},{"id":"13103728.286139","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/4","outputtopic":"","dpt":"5.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":660,"y":680,"wires":[["2ae1a0b6.c4e6a"]]},{"id":"3c5bbeb0.27a892","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":490,"y":620,"wires":[["13103728.286139"]]},{"id":"2bb5a631.10a82a","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"80","payloadType":"num","x":490,"y":740,"wires":[["13103728.286139"]]},{"id":"e9edaa9a.002b38","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/1","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":820,"y":440,"wires":[[]]},{"id":"d9cda8e8.375458","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":630,"y":380,"wires":[["e9edaa9a.002b38"]]},{"id":"dc61a7d8.a71968","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":630,"y":480,"wires":[["e9edaa9a.002b38"]]},{"id":"da964640.9f2748","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/0","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":140,"y":1160,"wires":[["851ea22b.744d2"]]},{"id":"d73ad23.3aa7e3","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.play","state":"","stateType":"str","name":"","x":510,"y":1120,"wires":[[]]},{"id":"f0d1a496.750e18","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"group.pause","state":"","stateType":"str","name":"","x":510,"y":1200,"wires":[[]]},{"id":"851ea22b.744d2","type":"switch","z":"89332b31.cefa38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1160,"wires":[["d73ad23.3aa7e3"],["f0d1a496.750e18"]]},{"id":"b1c8289a.87e1b8","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/6","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":140,"y":1400,"wires":[["64304730.63ddd8"]]},{"id":"c0a9b854.730358","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.get.volume","state":"","stateType":"str","name":"","x":530,"y":1340,"wires":[["7e4937b4.e8fe78"]]},{"id":"5d2d56b8.f02538","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.set.volume","state":"","stateType":"str","name":"","x":1210,"y":1400,"wires":[[]]},{"id":"7e4937b4.e8fe78","type":"function","z":"89332b31.cefa38","name":"","func":"msg.payload =Number (msg.payload) + 5;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1340,"wires":[["9cdd6219.fe15c"]]},{"id":"64304730.63ddd8","type":"switch","z":"89332b31.cefa38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1400,"wires":[["c0a9b854.730358"],["5d4fec7a.ceecf4"]]},{"id":"5d4fec7a.ceecf4","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.get.volume","state":"","stateType":"str","name":"","x":530,"y":1460,"wires":[["b8465fac.d821b"]]},{"id":"b8465fac.d821b","type":"function","z":"89332b31.cefa38","name":"","func":"msg.payload =Number (msg.payload) - 5;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1460,"wires":[["4a5b3c07.4612b4"]]},{"id":"9cdd6219.fe15c","type":"range","z":"89332b31.cefa38","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":840,"y":1340,"wires":[["2d3a0dca.91c322","e93bf733.47b108"]]},{"id":"4a5b3c07.4612b4","type":"range","z":"89332b31.cefa38","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":840,"y":1460,"wires":[["8f79f7d8.2dcbc8","2d3a0dca.91c322"]]},{"id":"8f79f7d8.2dcbc8","type":"debug","z":"89332b31.cefa38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1460,"wires":[]},{"id":"c8b91821.b1f9e8","type":"ui_button","z":"89332b31.cefa38","name":"","group":"d1ea0f11.d088c","order":0,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"restaurant_menu","payload":"false","payloadType":"bool","topic":"","x":470,"y":460,"wires":[["e9edaa9a.002b38"]]},{"id":"9eefdfe4.0788d","type":"ui_button","z":"89332b31.cefa38","name":"","group":"d1ea0f11.d088c","order":0,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"restaurant_menu","payload":"true","payloadType":"bool","topic":"","x":470,"y":400,"wires":[["e9edaa9a.002b38"]]},{"id":"fe67c82.4f45d38","type":"ui_slider","z":"89332b31.cefa38","name":"","label":"Dimmer 1","tooltip":"","group":"d1ea0f11.d088c","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":480,"y":680,"wires":[["13103728.286139"]]},{"id":"2ae1a0b6.c4e6a","type":"ui_gauge","z":"89332b31.cefa38","name":"","group":"d1ea0f11.d088c","order":3,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":680,"wires":[]},{"id":"a36cf212.8f3af","type":"ui_chart","z":"89332b31.cefa38","name":"","group":"ff857ec5.dbb1","order":4,"width":0,"height":0,"label":"Température","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":1640,"wires":[["c1a34d0b.827b7"]]},{"id":"16ffe8d5.ce4e27","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"15/0/6","outputtopic":"","dpt":"9.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":170,"y":1640,"wires":[["a36cf212.8f3af"]]},{"id":"92013a8f.393708","type":"comment","z":"89332b31.cefa38","name":"on/off","info":"","x":210,"y":340,"wires":[]},{"id":"33c4356f.a7e1ba","type":"comment","z":"89332b31.cefa38","name":"Dimmer","info":"","x":490,"y":580,"wires":[]},{"id":"e9e9ce02.3f44d","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"15/0/5","outputtopic":"","dpt":"9.008","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":170,"y":1720,"wires":[["f04245c3.7243e8"]]},{"id":"2c1a109c.b8cd2","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"15/0/7","outputtopic":"","dpt":"5.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":170,"y":1800,"wires":[["b7d1731d.4b713"]]},{"id":"b7d1731d.4b713","type":"ui_chart","z":"89332b31.cefa38","name":"","group":"ff857ec5.dbb1","order":4,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":1800,"wires":[[]]},{"id":"f04245c3.7243e8","type":"ui_chart","z":"89332b31.cefa38","name":"","group":"ff857ec5.dbb1","order":4,"width":0,"height":0,"label":"Humidité","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":1720,"wires":[[]]},{"id":"db1cc7c.9235a38","type":"comment","z":"89332b31.cefa38","name":"SONOS play-pause via KNX","info":"","x":200,"y":1080,"wires":[]},{"id":"582da6bf.446e28","type":"comment","z":"89332b31.cefa38","name":"SONOS vol +/- (KNX et Dashboard)","info":"","x":220,"y":1280,"wires":[]},{"id":"4fc3c262.5e1d8c","type":"comment","z":"89332b31.cefa38","name":"Qualité air - Temp - Humidité via KNX","info":"","x":250,"y":1580,"wires":[]},{"id":"a1b4662a.a7e048","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/5","outputtopic":"","dpt":"5.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":140,"y":680,"wires":[["fe67c82.4f45d38"]]},{"id":"c1a34d0b.827b7","type":"debug","z":"89332b31.cefa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":1640,"wires":[]},{"id":"2d3a0dca.91c322","type":"ui_slider","z":"89332b31.cefa38","name":"","label":"Volume","tooltip":"","group":"3989e15d.67796e","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":1000,"y":1400,"wires":[["5d2d56b8.f02538","34667cb5.60e484"]]},{"id":"61f7e5ca.75b28c","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":530,"y":1400,"wires":[["67fcdcf0.0948e4"]]},{"id":"67fcdcf0.0948e4","type":"sonos-universal","z":"89332b31.cefa38","confignode":"6e973fa3.de2e2","compatibilityMode":false,"command":"player.get.volume","state":"","stateType":"str","name":"","x":710,"y":1400,"wires":[["2d3a0dca.91c322"]]},{"id":"120c9da1.b33862","type":"rpi-gpio in","z":"89332b31.cefa38","name":"","pin":"29","intype":"up","debounce":"25","read":false,"x":160,"y":1960,"wires":[["a610f56b.288c48","bc023ef.dc36ec"]]},{"id":"a610f56b.288c48","type":"debug","z":"89332b31.cefa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":2000,"wires":[]},{"id":"bc023ef.dc36ec","type":"switch","z":"89332b31.cefa38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1960,"wires":[["5e2d8108.f588f"],["90fbf940.cf5598"]]},{"id":"90fbf940.cf5598","type":"change","z":"89332b31.cefa38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1980,"wires":[["6fcb89b1.63fcd8"]]},{"id":"5e2d8108.f588f","type":"change","z":"89332b31.cefa38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1940,"wires":[["6fcb89b1.63fcd8"]]},{"id":"6fcb89b1.63fcd8","type":"knxUltimate","z":"89332b31.cefa38","server":"d235d04c.f27bc","topic":"9/0/1","outputtopic":"","dpt":"1.001","initialread":false,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"passthrough":"no","x":740,"y":1960,"wires":[[]]},{"id":"96028a21.78f9f8","type":"comment","z":"89332b31.cefa38","name":"GPIO - KNX","info":"","x":170,"y":1900,"wires":[]},{"id":"896f13c6.7c5cd","type":"clock-generator","z":"89332b31.cefa38","name":"","topic":"","period":"2","output":"1","init":false,"x":300,"y":440,"wires":[["e9edaa9a.002b38"],[]]},{"id":"70506630.2ec788","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":420,"wires":[["896f13c6.7c5cd"]]},{"id":"7c2989cb.c88f98","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":460,"wires":[["896f13c6.7c5cd"]]},{"id":"dc6fc465.7f1f48","type":"presence-faker","z":"89332b31.cefa38","name":"","onPayload":"true","onPayloadType":"bool","onTopic":"","offPayload":"false","offPayloadType":"bool","offTopic":"","windowBegin":"07:30","windowEnd":"18:00","minDurationHours":0,"minDurationMinutes":0,"minDurationSeconds":0,"minDuration":0,"maxDurationHours":0,"maxDurationMinutes":0,"maxDurationSeconds":0,"maxDuration":0,"minCount":1,"maxCount":"2","startupBehavior":"onMsg","actionOnDisable":"none","firstBlockType":"off","lastBlockType":"off","isLoggingEnabled":false,"x":580,"y":300,"wires":[["e9edaa9a.002b38"]]},{"id":"c63b2248.2c725","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":410,"y":280,"wires":[["dc6fc465.7f1f48"]]},{"id":"8c512f49.b038d","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":410,"y":320,"wires":[["dc6fc465.7f1f48"]]},{"id":"e93bf733.47b108","type":"debug","z":"89332b31.cefa38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1340,"wires":[]},{"id":"34667cb5.60e484","type":"debug","z":"89332b31.cefa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1360,"wires":[]},{"id":"9a25a5df.181038","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":1340,"wires":[["c0a9b854.730358"]]},{"id":"9502f0c7.3360b","type":"inject","z":"89332b31.cefa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":1460,"wires":[["5d4fec7a.ceecf4"]]},{"id":"6e973fa3.de2e2","type":"sonos-config","z":"","name":"Sonos 5","serialnum":"B8-E9-37-B7-71-48:F","ipaddress":""},{"id":"d235d04c.f27bc","type":"knxUltimate-config","z":"","host":"224.0.23.12","port":"3671","physAddr":"15.15.22","suppressACKRequest":false,"csv":"","KNXEthInterface":"Auto","KNXEthInterfaceManuallyInput":"","statusDisplayLastUpdate":true,"statusDisplayDeviceNameWhenALL":true,"statusDisplayDataPoint":false,"stopETSImportIfNoDatapoint":"stop","loglevel":"error","name":"Multicast KNX Gateway","localEchoInTunneling":true,"delaybetweentelegrams":"40","delaybetweentelegramsfurtherdelayREAD":"1"},{"id":"d1ea0f11.d088c","type":"ui_group","z":"","name":"KNX","tab":"b0420a35.dc3088","order":1,"disp":true,"width":"6","collapse":true},{"id":"ff857ec5.dbb1","type":"ui_group","z":"","name":"GRAPH","tab":"b0420a35.dc3088","order":2,"disp":true,"width":"6","collapse":false},{"id":"3989e15d.67796e","type":"ui_group","z":"","name":"Sonos","tab":"b0420a35.dc3088","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0420a35.dc3088","type":"ui_tab","z":"","name":"Test1","icon":"dashboard","disabled":false,"hidden":false}]