nodered/app/flows/MQTT_NGROK.json
[{"id":"9591183b.6ac108","type":"tab","label":"MQTT & NGROK","disabled":false,"info":""},{"id":"8968779a.89f888","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"fa7e396b.bfe668","type":"aedes broker","z":"9591183b.6ac108","name":"","mqtt_port":"1883","mqtt_ws_port":"80","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":130,"y":100,"wires":[["cbf23191.d35fb"]]},{"id":"77c1b87e.9ecd48","type":"mqtt in","z":"9591183b.6ac108","name":"","topic":"/lampe2","qos":"2","datatype":"json","broker":"17110094.27009f","x":90,"y":540,"wires":[["10bf4a36.4085d6","d6dc8a9b.f00db8"]]},{"id":"10bf4a36.4085d6","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":540,"wires":[]},{"id":"1eb8652b.28ad5b","type":"ngrok","z":"9591183b.6ac108","buttonState":true,"port":"10.0.0.219:3671","creds":"a4748094.64b61","region":"eu","proto":"tcp","subdomain":"","name":"knx tunnel","auth":"","x":110,"y":260,"wires":[["8968779a.89f888","59f3594b.09b2e8"]]},{"id":"6b44602.fadd4a","type":"comment","z":"9591183b.6ac108","name":"TUNNEL pour ETS & KNX","info":"ngrok tcp 192.168.1.13:80 -region=eu","x":150,"y":200,"wires":[]},{"id":"cbf23191.d35fb","type":"debug","z":"9591183b.6ac108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":100,"wires":[]},{"id":"d3a62b52.6e3748","type":"mqtt out","z":"9591183b.6ac108","name":"","topic":"/lampe2/statut","qos":"0","retain":"","broker":"17110094.27009f","x":380,"y":620,"wires":[]},{"id":"d6dc8a9b.f00db8","type":"rbe","z":"9591183b.6ac108","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":210,"y":620,"wires":[["d3a62b52.6e3748"]]},{"id":"59f3594b.09b2e8","type":"mqtt out","z":"9591183b.6ac108","name":"","topic":"/ngrok","qos":"0","retain":"true","broker":"17110094.27009f","x":350,"y":260,"wires":[]},{"id":"e2cf90f.ed5117","type":"comment","z":"9591183b.6ac108","name":"SERVEUR MQTT","info":"","x":130,"y":40,"wires":[]},{"id":"17110094.27009f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"picam1","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4748094.64b61","type":"ngrokauth","z":""}]