nodered/app/flows/recup flows.json
[{"id":"3dbc2514.8d2dfa","type":"file in","z":"376df30.b79be0e","name":"","filename":"/data/node-red/user/bkp_flows_c515d03.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":200,"wires":[["6b15b496.8d610c","39d4f640.23774a"]]},{"id":"6b15b496.8d610c","type":"debug","z":"376df30.b79be0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"39d4f640.23774a","type":"json","z":"376df30.b79be0e","name":"","property":"payload","action":"","pretty":false,"x":610,"y":200,"wires":[["ee357cb2.1c06"]]},{"id":"a40a8b5d.f56df8","type":"http in","z":"376df30.b79be0e","name":"","url":"/flow","method":"get","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["3dbc2514.8d2dfa"]]},{"id":"ee357cb2.1c06","type":"http response","z":"376df30.b79be0e","name":"","statusCode":"","headers":{},"x":730,"y":200,"wires":[]},{"id":"489ca9f2.84a208","type":"comment","z":"376df30.b79be0e","name":"Récupérer un flow HS","info":"\nLog via balena dashboard dans le container docker\n\nls /data/node-red/user/\n\nmv /data/node-red/user/flows_c515d03.json /data/node-red/user/bkp_flows_c515d03.json\n\nmv /data/node-red/user/flows_c515d03_cred.json /data/node-red/user/bkp_flows_c515d03_cred.json\n\n","x":140,"y":100,"wires":[]}]